Repository f0restdmg/tech-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "**/*.css": ["stylelint --fix"]
}

add stylelint
  .lintstagedrc
  .prettierignore
  .stylelintignore
  package-lock.json
  package.json
  stylelint.config.mjs
Due: none

fix stylelint warn
  stylelint.config.mjs
Due: none

add auto sort imports
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

add basic styles
  src/app/globals.css
  src/app/layout.tsx
  src/app/styles/_global.css
  src/app/styles/_reset.css
  src/app/styles/_vars.css
  src/app/styles/index.css
Due: prettier --write, eslint --fix, stylelint --fix

add fonts
  src/app/layout.tsx
  src/app/styles/_global.css
  src/app/styles/_vars.css
  src/shared/config/assets/manrope-v20-latin-600.woff2
  src/shared/config/assets/manrope-v20-latin-regular.woff2
  src/shared/config/fonts.ts
Due: prettier --write, eslint --fix, stylelint --fix

add header, footer
  eslint.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/sprites/logo.svg
  public/vercel.svg
  public/window.svg
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/styles/_global.css
  src/app/styles/_vars.css
  src/shared/config/assets/manrope-v20-latin-500.woff2
  src/shared/config/fonts.ts
  src/shared/config/routerConfig.ts
  src/shared/config/textsConstants.ts
  src/shared/ui/icon/icon.tsx
  src/shared/ui/icon/index.ts
  src/shared/ui/icon/types.ts
  src/shared/ui/logo/index.ts
  src/shared/ui/logo/logo.module.css
  src/shared/ui/logo/logo.tsx
  src/shared/ui/logo/types.ts
  src/widgets/footer/constants.ts
  src/widgets/footer/footer.module.css
  src/widgets/footer/footer.tsx
  src/widgets/footer/index.ts
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
  src/widgets/header/index.ts
  stylelint.config.mjs
Due: prettier --write, eslint --fix, stylelint --fix

add links for header
  public/sprites/common.svg
  src/app/styles/_vars.css
  src/shared/config/routerConfig.ts
  src/shared/ui/css-dropdown/css-dropdown.module.css
  src/shared/ui/css-dropdown/css-dropdown.tsx
  src/shared/ui/css-dropdown/index.ts
  src/shared/ui/css-dropdown/types.ts
  src/widgets/header/constants.ts
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix hover
  src/shared/ui/css-dropdown/css-dropdown.module.css
Due: stylelint --fix

add burger
  src/app/styles/_vars.css
  src/widgets/footer/footer.module.css
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: prettier --write, eslint --fix, stylelint --fix

move container
  src/app/layout.tsx
  src/widgets/footer/footer.tsx
  src/widgets/header/header.tsx
Due: prettier --write, eslint --fix

add language switcher
  src/features/language-switcher/constants.ts
  src/features/language-switcher/index.ts
  src/features/language-switcher/language-switcher.module.css
  src/features/language-switcher/language-switcher.tsx
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: prettier --write, eslint --fix, stylelint --fix

add mobile header
  src/app/styles/_vars.css
  src/features/language-switcher/language-switcher.tsx
  src/widgets/header/header.module.css
  src/widgets/header/header.tsx
Due: prettier --write, eslint --fix, stylelint --fix

add hero
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/styles/_global.css
  src/app/styles/_vars.css
  src/widgets/hero/constants.ts
  src/widgets/hero/hero.module.css
  src/widgets/hero/hero.tsx
  src/widgets/hero/index.ts
  src/widgets/hero/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

add popular cpus
  public/images/fallback/amd-9800.png
  public/images/fallback/intel-core-ultra.png
  public/images/fallback/intel-core.png
  src/app/page.tsx
  src/entities/products/index.ts
  src/entities/products/model/types.ts
  src/entities/products/ui/preview-card/preview-card.module.css
  src/entities/products/ui/preview-card/preview-card.tsx
  src/entities/products/ui/preview-card/types.ts
  src/entities/products/ui/product-list/product-list.module.css
  src/entities/products/ui/product-list/product-list.tsx
  src/entities/products/ui/product-list/types.ts
  src/shared/config/fallbacks.ts
  src/widgets/hero/hero.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix borders preview
  src/entities/products/ui/preview-card/preview-card.module.css
  src/entities/products/ui/preview-card/preview-card.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix build
  src/entities/products/ui/product-list/types.ts
Due: prettier --write, eslint --fix

add popular gpus
  public/images/fallback/amd-gpu.png
  public/images/fallback/nvidea.png
  src/app/page.tsx
  src/shared/config/fallbacks.ts
Due: prettier --write, eslint --fix

add other lists
  src/app/page.tsx
Due: prettier --write, eslint --fix
